* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* Sub */


.clear{
    clear:both;
}

.row{
  margin: 0 -8px;

}
.col{
  float: left;
  padding: 0 8px;
}
.col-third{
    width:33.33333%;
}
.col-half{
    width:50%;
}
.col-full{
    width:100%;
}
.col-three-thỉrd {
    width: 66.6666666%;
}

/* Main */
#header {
    background-color:black;
    position: fixed;
    top:0;
    width:100%;
    height : 46px;
    z-index: 1;
}
#navbar{
    display:inline-block;

}
#navbar li{
    position: relative;
    list-style-type: none;
    cursor: poiter;

}
#navbar > li {
    display: inline-block;
    
}
#navbar #subnav {
    display: none;
    position: absolute;
    background-color:black;
    color:white;
    text-decoration:none;
    /* display:block; */
    box-shadow:0 0 25px -15px grey; 
    right:-10px;
}


#navbar #subnav li a {
    color:white;
}
#navbar .down-arrow {
    font-size: 14px;
}
#navbar li:hover #subnav{
    display:block;
    min-width: 200px;
}

#navbar #subnav li a:hover 
,#navbar > li > a:hover{
    background-color: #33ccff;
    color:black;
    
    cursor:pointer;
    display:block;
}
#navbar > li > a {
    color: white;
    text-transform: uppercase;
    
}
#navbar li a {
 
 text-decoration: none;
 line-height: 46px;
 padding: 0 20px;
}


#header #navbar-button{
    float: right;
    color:white;
    line-height: 46px;
    cursor: pointer;
    display:none;
}
#header .navbar-icon{
    color: white;
    padding:0 27px ;

}

#navbar-button:hover #nav-list {
    display: block;}
#navbar-button #nav-list {
    display: none;
    position: absolute;
    background-color:black;
    color:white;
    text-decoration:none;
    /* display:block; */
    box-shadow:0 0 25px -15px grey; 
    right:10px;
}
#navbar-button #nav-list li a{
    padding: 0 17px;
    line-height: 38px;
    color:white;
    display: block;
    text-decoration: none;
}
#navbar-button li:hover #nav-list{
     display:block;
     min-width: 200px;
}
#navbar-button #nav-list li a:hover {
     background-color: #33ccff;
     color:black;
     
     cursor:pointer;
     display:block;
}
#navbar-button #nav-list li {
    list-style: none;
   
}




#slider {
  z-index:-1;
  margin-top:46px;
  padding-top: 50%;
  background:url(https://user-images.githubusercontent.com/102859609/198833495-71f78cba-deb8-438b-8d20-0d98aabe962f.jpg) top center/ contain no-repeat ;
  position: relative;
  
}
#slider .text-heading{
font-size: 24px;
font-weight:500;
padding: 20px;
}
#slider .text-content{
color:aliceblue;
position: absolute;
bottom:47px;
text-align: center;
width: 100%;
margin:10px;
text-shadow:1px 1px #000;
}
#slider .text-description{
font-size:15px;

}
#content .content-section{
    width: 800px;
    padding: 64px 0 64px 0;
    margin-left:auto;
    margin-right:auto;
    clear:left;
    max-width:100%;
}
#content .section-heading,
#content .section-sub-heading{
  text-align: center;
  
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2.5px;
}
#content .section-sub-heading{
  font-size:15px;
  margin: 25px;
  opacity: 80%;
  font-size: 20px;
  font-weight: 500;
  /* color: #3333ff; */
  color:#000;
  /* text-shadow: 1px 1px 45px; */
}
#content .detail-table {
    padding: 0 40px;
    height: 300px;
    margin: 0 120px;
    width: 600px;
    border: 2px solid blue ;
    border-radius:1%;
    /* background-color:rgba(230, 255, 255,0.4); */
   /* box-shadow: 1px 1px; */
}
#content .right-col,
#content .right-col a {
    opacity:0.8
}
#content .left-col,
#content .left-col a{
    color:#3333ff;
    
}

#content #One .row{
    padding-top:15px;
}
#content .table-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
}
#content .objective-text{
    margin: 0 80px ;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    
    
}
#content .objective-text li {
    list-style-type: none;
    padding: 5px;
}
.orderlist {
    float: left;
    line-height: 24px;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 102,0.8);
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -3px;
    border-radius: 24px;
    margin-right: 10px;
}
#content .text-book{
    color: white;
}
#content .links{
    color: white;
}
#content .about-text{
    margin: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
.tb-list{
    list-style-type: none;
    margin: 24px -17px 0;
    padding-bottom:35px;
    height: 730px;
    }
.tb-item{
    float: left;
    width:50%;
    padding: 18px;
    
    }
.tb-img{
        display:block;
        width:100%; 
        height:500px;
    }
.tb-img:hover{
        opacity:0.6;
        cursor:pointer;
    }
.tb-body{
      background-color:white;
      padding:16px;
      font-size:15px;
      height: 200px;
    }
    
.tb-date{
       margin-top:15px;
       color:#757575;
    }
.tb-description{
      margin:15px 0;
      line-height:1.4;
    }
#content .rs-links{
    padding:20px;
    text-align: center;
}
#content .rs-links li{
    padding: 10px;
    opacity: 80%;
}

#content .info-item{
    float: left;
    width: 33.3%;
}
#content .info-list{
    margin: 48px;
    overflow:hidden;
}

.black-content .section-heading,
.section-sub-heading{
    color: white;
}

.black-content{
    background-color:#000;
    padding:initial;
    width:initial;   
}

.class-list{
    list-style-type: none;
    margin: 24px -17px 0;
    padding-bottom:35px;
    }
    .class-item{
    float: left;
    width:33.3333%;
    padding: 18px;
    }
    .class-img{
        display:block;
        width:100%; 
    }
    .class-img:hover{
        opacity:0.6;
        cursor:pointer;
    }
    .class-body{
      background-color:white;
      padding:16px;
      font-size:15px;
    }
    
    .class-date{
       margin-top:15px;
       color:#757575;
    }
    .class-description{
      margin:15px 0;
      line-height:1.4;
    }

#content .rs-links li{
    list-style-type: none;
}
#content .rs-links li a{
color: #666699;
}
#content .rs-links li a:hover{
    opacity: 1;
    color: #66ccff;
}
#buy-btt{
    height:48px;
    width:100%;
    background-color:rgb(0, 153, 0);
    color:#fff;
    border:none;
    font-size:15px;
}
#buy-btt:hover{
    background-color: rgb(51, 153, 51);
    cursor: pointer;
}

#Three table, th, td,
#Four table, th, td,
#Six table, th, td  {
    border: .5px solid black;
    border-collapse: collapse;
    text-align: center;
    

}
#Three table th, td,
#Four table th, td,
#Six table th, td {
    padding: 10px;
}

#Three table th,
#Four table th,
#Six table th{
    text-transform: uppercase;
    color:#3333ff;
}

#Three table,
#Four table,
#Six table{
    border: 2px solid blue ;
    border-radius:50%;
    
}
#Three h2,
#Four h2{
    Padding-bottom: 30px;
}
#Five{
    width:initial;
    height:1300px;
}
#Five .news{
    padding:25px;
    height: 350px;
}
#Five .news img{
    width:100%;
    /* padding-left:20px ;  */
}
#Five .news img:hover{
    opacity: 0.7;
    cursor: pointer;
}

#Five .news ul li, 
#Five .news ul li a{
    color: white;
    list-style: none;
    padding:5px;
}
#Five .news ul li a{
    opacity:0.5;
}
#Five .news ul li a:hover{
    opacity:0.8;
    color:#33ccff;
}
#Six ul{
    text-align: center;
    padding: 20px;
}
#Six ul li,
#Six ul li a {
    display: inline-block;
    list-style: none;
    padding: 10px;
}
#Six ul li a{
    text-decoration: none;
    border: 2px solid #3333ff;
    border-radius: 10px;
}
#Six ul li a:hover{
    background-color:#3333ff;
    opacity:0.8;
    color:white;
}
#Six table{
    width:100%;
}





.contact-content{
    margin-top: 48px;
    
}
.contact-icon{
    font-size: 18px;
    line-height: 1.4;
}
.contact-icon i[class*="ti-"]{
    /* margin:10px; */
    width:30px;
    display: inline-block;
    
}
.contact-form{
    font-size:15px;
}
.form-control{
    padding:10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.contact-form .form-submit-btn{
    background-color:#000;
    border: none;
    color: #fff;
    padding: 10px 16px;
    float: right;
}
.contact-form .form-submit-btn:hover{
    background-color:#3333ff;
    cursor: pointer;
}
.contact-option-list{
    
    text-align: center;
}
.contact-option-list .contact-text{
    padding: 20px;
    font-size:24px;
    opacity:0.8;
    font-style: italic;
    text-decoration:none;
}

.contact-option-list li{
    float: left;
    margin-top:40px;
    width: calc(100%/3);
}
.contact-option-list li a{
   border-bottom:1px solid #000;
    text-decoration:none; 
}
.contact-option-list li:hover{
    cursor:pointer;
    opacity:0.8;
    color:#000;
}
.contact-img{
    width:50%;
    
    border-radius: 30px;
    display: block;
    margin: auto;

}

.map-section{
    margin-top:200px;
}
.img-map{
    width:100%;
}
#footer{
    padding:64px 16px;
    text-align: center;

}
#footer .social-list{
    font-size:24px;

}
#footer .social-list a{
    color:#000;
    opacity:0.7;
    text-decoration:none;
    
}
#footer .social-list a:hover{
    opacity: 0.5;
    color:blue;
}
#footer .copy-right{
    font-size:15px;
    margin-top: 24px;
    color:#000;
    opacity:0.7;
}
#footer .copy-right a:hover{
    opacity: 1;
    color: rgb(0, 0, 153);
}
